@font-face{
    font-family: "BebasNeue";
    src: url('font/BebasNeue-Regular.woff') format('truetype');
}

body{
    font : 18px/36px "BebasNeue";
    background-color: #ddd;
    /* background-color: black; */
}

h1{
    font-size: 50px;
    margin: 30px 0;
    text-align: center;
    text-shadow: 0 0 5px white;
}

.container{
    width: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    margin: 10px auto;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.avengers li{
    position: relative;
    float: left;
    margin-right: 20px;
}

.avengers img{
    border-radius: 50%;
    border: 5px solid #bbb;
}

.avengers li span{
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    position: absolute;
    top : 0;
    left: 0;
    border: 5px solid #bbb;
    color: black;
    text-shadow: 0 0 5px white;
    opacity: 0;
    transform: rotate(0) scale(0);
    transition: 1s;
}

.avengers a:hover span{
    opacity: 0.5;
    transform: rotate(360deg) scale(1);
}

.clear{
    clear: both;
}