.kotak1{
    width: 200px;
    height: 200px;
    background-color: yellow;
    text-align: center;
    line-height: 200px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.8),
                 0 0 10px 20px red;
    margin: 50px auto;
}