h1{
    color: gold;
    text-align: center;
}

.p1{
    color: blue;
    letter-spacing: 5px;
}

.p2{
    word-spacing: 10px;
}

.p3{
    text-decoration: line-through;
}

.p4{
    text-transform: capitalize;
}

p{
    text-indent: 30px;
    text-align: justify;
}