body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b4b4b4aa;
    background-image: url(img/bg2.png);
    color: rgba(45, 44, 46, 0.667)
}

.container{
    width: 960px;
    background-color: white;
    margin: auto;
}

.header{
    padding: 20px;
}

.header h1{
    font-size: 32px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
}

.header ul li a{
    text-decoration: none;
    color: salmon;
    margin-right: 10px;
    padding: 3px;
    box-sizing: border-box;
}

.header ul li a:hover{
    background-color: lightgreen;
    color: white;
}

.gambar_utama{
    height: 300px;
    background-image: url(img/office.jpg);
    background-size: cover;
    background-position: 0 -190px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightgreen;
}

.isi_artikel{
    width: 600px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.isi_artikel h1{
    font-size: 28px;
}

.isi_artikel span{
    font-size: 11px;
}

.isi_artikel span a{
    text-decoration: none;
    color: salmon;
}

.isi_artikel p{
    margin-top: 15px;
    font-size: 18px;
    text-align: justify;
    text-indent: 30px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
}

.sidebar{
    width: 300px;
    padding: 20px;
    float: right;
    box-sizing: border-box;
}

.sidebar h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar img{
    width: 150px;
    float: left;
}

.sidebar p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.footer{
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;
}

.clear{
    clear: both;
}